<div id="<%= dom_id batch %>">
  <p>
    <strong>Batch:</strong>
    <%= batch.batch_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= batch.product %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= batch.status %>
  </p>

  <p>
    <strong>Temp:</strong>
    <%= batch.temp %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= batch.location %>
  </p>

</div>
